altgraph==0.17.2
certifi==2020.6.20
charset-normalizer==2.0.9
click==7.1.2
future==0.18.2
idna==3.3
importlib-metadata==4.8.3
imutils==0.5.4
numpy==1.19.5
opencv-python==4.5.4.60
pefile==2021.9.3
Pillow==8.4.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.2
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
removebg==0.4
requests==2.26.0
tangUtils==0.2.0
typing_extensions==4.0.1
urllib3==1.26.7
wincertstore==0.2
zipp==3.6.0
